@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #C7E9FF;
  --color2: #FFF7B1;
  --color3: #B2DA9C;
  --color4: #D9D39B;
  --title-color: #000000;
  --label-color1: #5D4237;
  --label-color2: #47573E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color1: #C7E9FF;
    --color2: #FFF7B1;
    --color3: #B2DA9C;
    --color4: #D9D39B;
    --title-color: #000000;
    --label-color1: #5D4237;
    --label-color2: #47573E;
  }
}

body {
  color: var(--title-color);
  background: var(--color1);
  font-family: Arial, Helvetica, sans-serif;
}
